@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  background-color: lightgray;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.main .content,
.about .content {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

#bg-main {
  background: #fff url("../images/bg.png") no-repeat;
  width: 370px;
  margin-bottom: 100px;
  border-radius: 0px 0px 0px 100px;
}

#bg-about {
  border-radius: 0px 100px 0px 0px;
  background: #fff;
  width: 370px;
  margin-bottom: 200px;
}

#bg-card {
  border-radius: 20px;
  background: #fff;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 15px;
  height: max-content;
}

.grid-container {
  background-color: rgb(243, 243, 243);
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'works'
    'about';
}

.header,
.works,
.contact {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 20px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header a {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}

header .logo {
  align-content: center;
}

header .logo img {
  height: 20px;
}

header .logo a {
  font-size: 20px;
}

header .menu img {
  height: 20px;
}

.main p,
.works p,
.about p,
.contact p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
}

.socials {
  color: rgb(131, 131, 255);
  font-family: poppins;
  font-weight: 500;
  margin-left: 20px;
  padding-bottom: 80px;
}

.socials h4 {
  margin: 0px 0px;
  padding: 0px;
  height: 24px;
  font-size: 18px;
  font-weight: 500;
}

.socials .icon-bar {
  list-style-type: none;
  margin-left: -40px;
  margin-right: 40%;
  display: flex;
  justify-content: space-between;
}

.socials .icon-bar img {
  height: 25px;
}

.works {
  padding-top: 110px;
  padding-bottom: 110px;
}

.main h1,
.works h1,
.about h1,
.contact h1 {
  color: #172b4d;
  font-size: 40px;
  line-height: 48px;
}

.works .categories {
  padding-inline-start: 0px;
  display: flex;
  list-style: none;
  font-weight: 600;
}

.works .categories li .canopy {
  color: #333;
}

.works .categories li {
  list-style: none;
  color: #777;
  font-size: 13px;
  margin: 0px 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
  text-align: center;
  justify-content: first baseline;
  cursor: pointer;
}

.works .keyword {
  margin-left: 0px;
  padding-inline-start: 0px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  
}

.works .keyword li {
  background-color: #ebebff;
  border-radius: 15%;
  color: #6070FF;
  margin: 0px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  justify-content: first baseline;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

#cta-button {
  color: #396df2;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
  
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  align-self: center;

  text-align: left;
  display: inline-block;
  margin: 5px 2px;
  cursor: pointer;
}

.tech {
  border-radius: 0px 100px 0px 0px;
  width: 350px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.tech details {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

summary {
  padding: 1rem;
  display: block;
  /* background: #eee; */
  border-width: 0.1rem;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
  /* padding-left: 2.2rem; */
  position: relative;
  cursor: pointer;
}

summary::before {
  content: '>';
  font-size: 29px;
  border-width: .1rem;
  border-style: groove;
  border-color: transparent transparent transparent transparent;
  position: absolute;
  top: 1rem;
  left: 16rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
  /* display: flex;
  position: relative;
  padding: 15px; */
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.tech ul {
  padding: 5px 20px;
  list-style-type: none;
  margin-top: 0px;
}

.tech li {
  border-radius: 4%;
  color: #444;
  margin: 0px 0px;
  text-align: left;
  justify-content: first baseline;
  font-weight: 500;
  font-size: 15px;
  padding: 0px;
  margin-bottom: 10px;
  list-style-type: none;
}