body {
  padding: 5px 20px;
  background: #fff url("../images/bg.png") 0px 45px no-repeat;
  background-size: cover;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

header a {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color:blue;
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  text-decoration: none;
  text
}

.logo {
  align-content: center;
}

.logo img {
  height: 20px;
}

.logo a {
  font-size: 20px;
  /* height: 10px; */
}

.menu img {
  height: 20px;
}

.main {
  margin-top: 90px;
}

h1 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.content {
  color: rgb(100, 100, 100);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  /* font-size: 15px; */
  /* line-height: 25px; */
}

.footer {
  color: rgb(131, 131, 255);
}

.footer h4 {
  font-size: 15px;
  margin-bottom: -8px;
}

.icon-bar {
  list-style-type: none;
  margin-left: -40px;
  margin-right: 40%;
  display: flex;
  justify-content: space-between;
}

.icon-bar img {
  height: 25px;
}
